body {
    font-family: sans-serif;
    background:#b2c1dd;
    width:100%;
    font-family: 'Nunito', sans-serif;
}
.inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inputs label{
    border-radius: 3px;
    padding:0.5rem;
    font-size: 1rem;
    color:white;
    margin:0.2rem;
}

#total{
    background: lightblue;
}
#africa{
    background: green;
}
#americas{
    background: blue;
}
#east-asia{
    background: red;
}
#europe{
    background: yellow;
}
#middle-east{
    background: sandybrown;
}
#south-asia{
    background: lightgreen;
}
#other{
    background: grey;
}



.wrapper{
    padding:2rem;
    width:100%;
    max-width:1000px;
    margin:auto;
    
    background: #dadada;
}
.slider{
    position: relative;
    width:100%;
}

.slider .slider-text{
    display:flex;
}

.slider h2, .slider p{
    margin:1rem 0 -1rem 1rem;
    font-size: 1rem;
}

.slider #slider-time{
    width: fit-content;
    margin:auto;
}

.interface svg{
    padding:1rem;
    color:white;
}

.interface svg text{
    font-size: 12px;
    fill:white;
}


.interface{
    margin:1rem;
    border-radius: 1rem;
    background: #1a2e50;
    width:fit-content;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction: row-reverse;
}

.selected{
  fill:red;
}
