body {
    font-family: sans-serif;
    width:100%;
    font-family: 'Inter', sans-serif;
    background: #dadada;
}
.inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:0.5rem 0;
}

.inputs label{
    border-radius: 0.3rem;
    padding:0.3rem;
    font-size: 0.5rem;
    color:#dadada;
    margin:0.2rem;
    font-size: small;
}
.inputs label:hover{
    transform: scale(1.05);
}

.inputs input{display:none}

#total{
    background: rgb(140, 190, 207);
}
#africa{
    background: rgb(21, 109, 21);
    
}
#americas{
    background: rgb(51, 96, 192);
   
}
#east-asia{
    background: rgb(146, 48, 48);
    
}
#europe{
    background: rgb(159, 170, 0);
  
}
#middle-east{
    background: rgb(107, 87, 21);
    
}
#south-asia{
    background: rgb(57, 119, 57);
  
}
#other{
    background: rgb(102, 100, 100);
    
}
input:checked + label {
    color:white;
    text-decoration: underline;
    transform: scale(1.05);
}

.wrapper{
    padding:2rem;
    width:100%;
    max-width:1000px;
    margin:auto;
}
.slider{
    position: relative;
    width:100%;
}

.slider .slider-text{
    display:flex;
}

.slider h2, .slider p{
    margin:1rem 0 -1rem 1rem;
    font-size: 1rem;
}

.slider #slider-time{
    width: fit-content;
    margin:auto;
}

.interface{
    padding:3rem 1rem 3rem 1rem;
}

.interface svg text{
    font-size: 12px;
    fill:white;
}

.interface{
    margin:1rem;
    border-radius: 1rem;
    background: #1a2e50;
    width:fit-content;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction: row-reverse;
    overflow:visible;
}

.map path{
    transition: all 0.05s ease-in-out;
    stroke: rgb(0,0,0,0.1);
    stroke-width: 0.1px;
}

.selected{
  fill:#69b3a2;
}

#d3-container{
    overflow:visible;
}
#map-container{
    margin: 0 2rem;
    width:28rem;
    border:solid 1px white;  
}

#d3-container svg{
    overflow: visible;
}

.tooltip{
  position: absolute;
  z-index: 10;
  color:black;
  visibility: hidden;
  background:white ;
  border-radius: 0.5rem;
  padding:0.5rem;  
  font-size: 0.6rem;
}



.tooltip h4{ 
    margin:0;
}

.tooltip p{ 
    margin:0;
}

rect{
    transition: all 0.1s ease-in-out;
}

.domain{
    border-left: 2px black solid;
}