body {
    font-family: sans-serif;
    width:100%;
    font-family: 'Inter', sans-serif;
    background: #dadada;
}
.inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:0.5rem 0;
}

.inputs label{
    border-radius: 0.3rem;
    padding:0.3rem;
    font-size: 0.5rem;
    color:#dadada;
    margin:0.2rem;
    font-size: small;
}
.inputs label:hover{
    transform: scale(1.05);
}

.inputs input{display:none}

#total{
    background: #1666ba;
}
#africa{
    background: #3B7302;
    
}
#americas{
    background: #284D85;
   
}
#east-asia{
    background: #6B0002 ;
    
}
#europe{
    background: #733E10;
  
}
#middle-east{
    background: #A63F03;
    
}
#south-asia{
    background: #044D29;
  
}
#other{
    background: #404040;
    
}
input:checked + label {
    color:white;
    text-decoration: underline;
    transform: scale(1.05);
}

.wrapper{
    padding:2rem;
    width:100%;
    max-width:1000px;
    margin:auto;
}
.slider{
    position: relative;
    width:100%;
}

.slider .slider-text{
    display:flex;
}

.slider h2, .slider p{
    margin:1rem 0 -1rem 1rem;
    font-size: 1rem;
}

.slider #slider-time{
    width: fit-content;
    margin:auto;
}

.interface svg text{
    font-size: 12px;
    fill:white  ;
    
}
.interface{
    padding:3rem 1rem 3rem 1rem;
    margin:1rem;
    border-radius: 1rem;
    background: #1a2e50;
    width:fit-content;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction: row-reverse;
    overflow:visible;
}

#map path{
    transition: all 0.05s ease-in-out;
}

.selected{
  fill:#69b3a2;
  stroke: white;
  stroke-width: 0.3px;
}

#d3-container{
    overflow:visible;
}
#map-container{
    margin: 0 2rem;
    width:28rem;
    border:solid 1px white;  
}

#d3-container svg{
    overflow: visible;
}

.tooltip{
  position: absolute;
  z-index: 10;
  color:black;
  visibility: hidden;
  background:white ;
  border-radius: 0.5rem;
  padding:0.5rem;  
  font-size: 0.6rem;
}

.tooltip h4{ 
    margin:0;
}

.tooltip p{ 
    margin:0;
}

rect{
    transition: all 0.1s ease-in-out;
}

#disclaimer{
    position:absolute;
    padding:1rem;
    font-size: 0.8rem;
    color:lightsteelblue;
}

.domain{
    border-left: 2px black solid;
}

#info{
    opacity: 0.0;
    display: "none";
    position: static;
    left: 10px;
}

#legend-container{
    display:flex;
    flex-direction:column-reverse;

}

#header{
    position: static;
    text-align: center;
}
#missing{
    display:flex;
    color:white;
    
}
#missing p{
    padding:0;
    margin:0;
    font-size:10px;
    margin-left:4px;
}
.square{
    border: 1px black solid;
    width:8px;
    height:8px;
    background-color: white;
}